* {
	cursor: default; 
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

html {
	scroll-behavior: smooth;
}

body {
	color: #1e1e1e;
	background: #f9f9f9;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

section#main0 {
	min-height: 900px;
	height: 100vh;
	max-height: 1080px;
	width: 100vw;
	background: rgb(255,80,80);
	background: linear-gradient(90deg, rgba(255,80,80,1) 0%, rgba(144,0,0,1) 100%);	
}

section#info0 {
	height: auto;
	padding-bottom: 50px;
	width: 100vw;
	background: #ffffff;
	border-bottom: 1px solid rgb(255,80,80);
}
section#banen0 {
	min-height: 300px;
	padding-bottom: 70px;
	height: auto;
	width: 100vw;
	background: #f9f9f9;
	border-top: 1px solid rgb(255,80,80);
}

section#banen0 > .titel {
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 600;
	color: #5b5b5b;
	margin-top: 60px;
}
section#banen0 > .tekst {
	font-size: 17px;
	font-weight: 400;
	margin-top: -20px;
	color: #5b5b5b;
	margin-bottom: 60px;
}

.main-wrapper0 {
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

#logo-wrapper {
	display: inline-block;
}

#logo-wrapper img {
	min-height: 190px;
	height: auto;
	max-height: 250px;
	width: auto;
}
#logo-name {
	color: #ffffff;
	font-size: 39px;
	font-weight: 500;
	margin-top: -50px;
}
#logo-name small {
	font-size: 28px;
	font-weight: 400;
}

#logo-extra {
	color: #ffffff;
	font-size: 25px;
	font-weight: 300;
	margin-top: -45px;
}

#menu-btn-wrapper {
	margin-top: 50px;
}
.menu-btn {
	color: #ffffff;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	padding: 8px;
	border-radius: 2px;
	transition: all 300ms ease;
	color: rgb(255,80,80);
	background: #ffffff;
	padding-left: 14px;
	padding-right: 14px;
	margin: 5px;
}
.menu-btn:hover {
	transition: all 300ms ease;
	transform: translate(0,-5px);
}
#index {
	display: none;
}

.over {
	height: auto;
	width: auto;
	display: block;
	margin-top: 0px;
	padding: 20px;
	color: #5b5b5b;
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	margin-right: 20px;
}
.over .titel {
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 600;
	max-width: 600px;
	text-align: left;
	margin-left: -25px;
}
.over .tekst {
	font-size: 17px;
	font-weight: 400;
	text-align: left;
	margin-top: -20px;
	max-width: 600px;
	border-right: 2px solid rgb(255,80,80);
	padding-right: 20px;
}

.cvideo-player-wrapper {
	height: 360px;
	width: 640px;
	background: #f7f7f7;
	border: 3px solid #ffffff;
	box-shadow: 0px 0px 4px 0px rgba(10,10,10,.2);
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	right: 50px;
	vertical-align: middle;
	display: inline-block;
	margin-top: 60px;
	margin-left: 20px;
	margin-right: 20px;
}

.cvideo-player-wrapper iframe {
	height: 100%;
	width: 100%;
	border-radius: 3px;
}

.jobbox {
	height: 160px;
	width: 160px;
	font-size: 70px;
	background: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	transition: all 300ms ease;
	color: #262626;
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
	overflow: hidden;
}
.jobbox:hover {
	transition: all 300ms ease;
	transform: translate(0,-5px);
	box-shadow: 0px 2px 4px 0px rgba(10,10,10,.12);
}

.jobbox i {
	margin-top: 30px;
	margin-bottom: -170px;
	cursor: pointer;
}

.jobbox .jobbox-name {
	font-size: 18px;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	cursor: pointer;
}

#jobbox-form {
	height: auto;
	width: 100vw;
	margin-top: 20px;
}
#jobbox-form-options {
}

.jobbox-form-option {
	margin: 5px;
	display: inline-block;
	transition: all 300ms ease;
}

.jobbox-form-option .imgph {
	height: 180px;
	width: 320px;
	background: #999999;
	border-radius: 3px;
	cursor: pointer;
}

.jobbox-form-option p.titel {
	margin-left: 10px;
	margin-top: 3px;
	font-size: 20px;
	color: #ffffff;
	display: inline-block;
	margin-top: 76px;
	cursor: pointer;
}

.jobbox-wrapper {
	margin-top: 20px;
}
.close {
	font-size: 38px;
	padding: 5px;
	height: 20px;
	width: auto;
	border-radius: 100%;
	margin-top: 20px;
	margin-bottom: 60px;
}
.close i {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}

.close p {
	font-size: 17px;
	display: inline-block;
	vertical-align: middle; 
	margin-left: 10px;
}

.switch {
	color: #6f839a;
	cursor: pointer;
	font-weight: 400;
	line-height: 1.5em;
	border-radius: 100%;
	display: inline-block;
	background: #2d2d2d;
	transition: all 400ms ease;
	font-size: 14px;
	height: 13px;
	width: 13px;
	border-radius: 100%;
	border: 2px solid #2d2d2d;
	vertical-align: middle;
}

input[type="radio"]:hover + .switch {
	border: 2px solid #ef3426;
}
input[type="radio"]:checked + .switch {
	border: 2px solid #ef3426;
	background: #ef3426;
}

.footer {
	color: #727272;
	background: #2d2d2d;
	padding: 10px;
	font-size: 14px;
	font-weight: 400;
}

.footer p#italic {
	font-style: italic;
}

.footer p#line2 {
	margin-top: -10px;
	margin-bottom: 16px;
}

r {
	text-transform: none;
	font-style: normal;
	color: #afafaf;
}

.footer a {
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}
.footer a:hover {
	text-decoration: underline;
}

.colortag {
	background: #8c96a3;
	font-size: 13px;
	color: #ffffff;
	font-weight: 400;
	padding: 2px;
	border-radius: 100%;
	height: 8px;
	width: 8px;
	display: inline-block;
	margin-top: -2px;
	cursor: help;
}
#version {
	float: right;
	margin-top: 4px;
}